@tailwind base;
@tailwind components;
@tailwind utilities;


.home-container {
    background-image: url('/public/home-shape.png');
}

.blinking-cursor {
    border-right: 2px solid;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}